.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.inputs {
    margin-top: 105px;
    display: flex;
}

.ggicon{
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus{
    outline: none;
}



.icon{
    width:55px;
    height: 30px;
    background-color: rgba(13, 117, 236, 0.897);
    display: grid;
    place-items: center;

}

.botaoGG{
    background-color: rgba(13, 117, 236, 0.897);
}


