.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(90deg, hsl(202, 92%, 52%), #295d97);
  }
  body {
    padding: 0;
    margin: 0;
  }
  h1{
    font-family:sans-serif;
    font-style: normal;
    font-size: 100px;
    font-weight: bold;
    color:#0b9ff1;
  }
  .simb{
    width: 500px;
    padding-top: 50px;
  }